<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3" style="background-color:lightpink" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2021 - ...</p>
              <div class="h5">University</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Software Engineering</div>
               <h4 class="category">FACULTY OF SCIENCES, GABES - TUNISIA
               </h4>
               <ul>
                 
             </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="row">
          <div class="col-md-3" style="background-color: lightpink;"data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2021</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Medenine - Technique Higher Secondary
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of science, mathematics, and Chemistry
                                  </li>
                                  <li>
                                     There was also a good base on physics, mathematics and Computer science.
                                  </li>
                                  <li>
                                      Completed my high school with<b> Rate 'Good'</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
     



      <div class="card">
        <div class="row">
          <div class="col-md-3" style="background-color:lightpink;"data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2019</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Medenine - Ibnu Majeh Higher Secondary
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of science, mathematics, and Chemistry
                                  </li>
                                  <li>
                                     There was also a good base on physics, mathematics and Computer science.
                                  </li>
                                  <li>
                                      Completed my high school with<b> Rate 'Good'</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
     
      <div class="card">
        <div class="row">
          <div class="col-md-3"style="background-color:lightpink;" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014- 2017</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Zitouni secondary school
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>
               
                <li>
                    Completed my Secondary school with <b>Rate 'Excellent'</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>