.cc-profile-image img{
    top: 15px;
    height: 320px;
    width: 375px;
    left: 10px;
    
}
.cc-profile-image a:before{
    height: 352px;
    width: 418px;
    left: -1.1vw;
    background-color: lightpink;
}
