<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="pink">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/img/OIP.jpg');">
        </div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
              <a href="#">
                <img src="assets/img/roua.jpg" alt="Image" />
              </a>
            </div>
            <h1 class="h2 title">
            Roua Othmani
            </h1>
            <p class="category text-white">Frontend Developer </p>
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor" style="background-color: lightpink;">Hire Me</a>
            <a download="Cv" class="btn mr-lg-2 custom-btn sl-cert-preview__download download-btn" href="../assets/img/cv2.png" target="_blank" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor" style="background-color: lightpink;">Download CV</a>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon" style="background-color: lightpink;"href="https://www.facebook.com/rouaothmani/"
                target="_blank" rel="tooltip" title="Follow me on Facebook">
                <i class="fa fa-facebook"></i>
              </a>
             
              <a class="btn btn-default btn-round btn-lg btn-icon" style="background-color: lightpink;"
                href="https://www.linkedin.com/in/rouaothmanii/" target="_blank" rel="tooltip"
                title="Follow me on Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
              
              <a class="btn btn-default btn-round btn-lg btn-icon"style="background-color: lightpink;"href="https://github.com/rouaothmani" target="_blank"
                rel="tooltip" title="Follow me on Github">
                <i class="fa fa-github"></i>
              </a>
             
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  